.weather-app {
  max-width: 700px;
  padding: 10px 25px;
}

header {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.temp-units {
  position: relative;
  top: -21px;

  font-size: 18px;
}

.temp-units .active {
  color: black;
  cursor: default;
}

.temp-units .active:hover {
  text-decoration: none;
}

h1,
h2 {
  padding-top: 15px;
  line-height: 1.5;
  font-size: 50px;
}

h3,
h4 {
  padding-bottom: 15px;
}

h1,
h3 {
  text-align: left;
  padding-left: 35px;
}
h2,
h4 {
  text-align: right;
  padding-right: 35px;
}

h4:first-letter {
  text-transform: capitalize;
}
#current-time {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-left: 35px;
}

.extra-info {
  text-align: right;
  padding-right: 18px;
  font-size: 17px;
}

h5 {
  padding: 30px 20px 25px 40px;
  font-size: 25px;
}
ul {
  list-style: none;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

li {
  text-align: center;
  font-size: 190%;
}

.forecast-hour,
.emoji,
.temperature {
  margin-bottom: 40px;
}
.forecast-hour {
  font-weight: 300;
  padding-top: 30px;
}

.open-source-link {
  padding-left: 25px;
}

// sort out colors of day colums
